@model Comix.Models.Comic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = @Model.DisplayText;
}

<h2>@Model.Title</h2>

<h3>Issue #@Model.IssueNumber</h3>

<h4>Description</h4>
<p>@Html.Raw(Model.DescriptionHtml)</p>

<h4>Artists</h4>
@{
    if (Model.Artists.Length > 0)
    {
        <ul>
            @foreach (var artist in Model.Artists)
            {
                <li>
                    @artist.Role: @artist.Name
                </li>
            }
        </ul>
    }
}

